<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>好友</string>
		<key>onlineNum</key>
		<integer>2</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>nickName</key>
				<string>小花</string>
				<key>desc</key>
				<string>世界上我最美</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2.png</string>
				<key>nickName</key>
				<string>小明</string>
				<key>desc</key>
				<string>世界上我最帅</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.png</string>
				<key>nickName</key>
				<string>小东</string>
				<key>desc</key>
				<string>世界上我最高</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.png</string>
				<key>nickName</key>
				<string>李雷</string>
				<key>desc</key>
				<string>我英语最好</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>同学</string>
		<key>onlineNum</key>
		<integer>1</integer>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>nickName</key>
				<string>小莉</string>
				<key>desc</key>
				<string>世界上我最美</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2.png</string>
				<key>nickName</key>
				<string>韩梅梅</string>
				<key>desc</key>
				<string>我英语才是那个最好的</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.png</string>
				<key>nickName</key>
				<string>小东</string>
				<key>desc</key>
				<string>我是高富帅</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.png</string>
				<key>nickName</key>
				<string>李雷</string>
				<key>desc</key>
				<string>我英语最好</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
